<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--frist mobile meta-->

     <title>{% block title %}Library{% endblock %}</title>
    {% load staticfiles %}

     <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
  <link href="{% static 'css/rtl.css' %}" rel="stylesheet">
     <link href="{% static 'css/style.css' %}" rel="stylesheet">
 <link href="{% static 'css/fontawesome-all.min.css' %}" rel="stylesheet">


  </head>
  <body>
  <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
  <a class="navbar-brand" href="{% url 'library:index' %}"><img src="{% static "img/3.PNG" %}" width="70" height="70"/></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'library:AuthorList' %}">Athoures <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'library:CategoryList' %}">Categories</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="{% url 'library:BookList' %}">Books</a>
      </li>
    </ul>

    <form class="form-inline my-2 my-lg-0">

      {% if user.is_authenticated %}
        {% block pic%}
        {%endblock%}
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-warning" type="submit">Search</button>/
        <a class="btn btn-outline-warning" href="{% url 'logout' %}">logout</a>
        <a href="{% url 'community:home' %}">community</a>

      {% else %}
        <a  class="btn btn-outline-warning" href="{% url 'login' %}">login</a> /
        <a  class="btn btn-outline-warning" href="{% url 'user:signup' %}">signup</a>
      {% endif %}

    </form>
  </div>
</nav>
    <main>
      {% block content %}
      {% endblock %}
    </main>
  <section class="footer">
      <div class="container">
        <div class="row">
            <div class="col-lg-6">
             <h4 class="text-center">What we offer ?</h4>
            </div>

            <div class="col-lg-6">
                <h4 class="text-center">contact us</h4>
            </div>

        </div>
      </div>
      <div class="copy text-center">
          copyrights &copy; <span> reads.com</span>
      </div>
  </section>

 <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
   <script src="{% static 'js/bootstrap.min.js' %}"></script>




  </body>
</html>