{% extends 'general_view/base.html' %}
{% load staticfiles %}
{% block content %}
{%if author%}
<div class="col-lg-12 col-md-12 text-center">
        <br><br>
        <center><h2>{{author.name}}</h2></center>
        <br><br><br><br>
</div>
 <div class="container">
     <div class="row">
         <div class="col-lg-12">
             <div class="row">
                 <div class="col-lg-3">
                     <img src="{{ author.picture.url }}"  alt="can't load image" width="160" height="170" class="img-responsive img-circle mt mb">
                 </div>
                 <div class="col-lg-9">
                     <p>Born at:<a class="fontcolor"> {{author.born_at}}</a></p>
                     <p>Died at:  <a>{{author.died_at}}</a></p>
                     <p>Contact: {{author.contact}}</p>
                     <p class="lead">Bio: <a class="writing">{{author.bio}}</a></p>
                 </div>
             </div>
         </div>
         <div class="follow">
        {% if user.is_authenticated%}
            {% if status == False %}
                <form method="POST" action="{% url 'library:follow' %}">
                    {% csrf_token %}
                    <input class="btn btn-outline-warning" type="submit"   name="follow" value="Follow" />
                    <input class="btn btn-outline-warning" type="hidden" name="author_id" value="{{author.author_id}}" />
                </form>
            {% endif%}
            {% if status == True %}
                <form method="POST" action="{% url 'library:unfollow' %}">
                    {% csrf_token %}
                    <input class="btn btn-outline-warning" type="submit"  name="unfollow" value="unFollow" />
                    <input class="btn btn-outline-warning" type="hidden" name="author_id" value="{{author.author_id}}" />
                </form>
            {% endif%}
        {% endif%}
    </div>
         {%if mybooks%}
             <div class="col-lg-12">
                 <p></p>
                 <p></p>
                    <center><h2>Books</h2></center>
                 <p></p>
                 {% for book in mybooks %}
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12 col-lg-offset-3 col-md-12 ">
                                <img src="{{ book.picture.url }}" alt="can't load image" width="160" height="170" class="img-responsive img-circle mt mb">
                                <pre></pre>
                                <a href="{% url 'library:BookDetail' book.pk %}">{{ book.name}}</a>
                                <pre></pre>
                                <pre></pre>
                            </div>
                        </div>
                    </div>
                 {% endfor %}
             </div>
         {%else%}
   </div>
</div>
            <div class=""><center><h2>There're no books yet.</h2></center></div>
            <br><br><br><br>
            <center><img src="{% static 'img/sad.png' %}"  height="300" width="300" /></center>
        {% endif %}

<pre>

</pre>
{% else%}

<div class=""><center><h2>Something went wrong.</h2></center></div>
<center><img src="{% static 'img/error.png' %}"  height="150" width="150"/></center>
{%endif%}
{% endblock %}
