{% extends 'general_view/base.html' %}
{% load staticfiles %}
{% block content %}
<div class="col-lg-12 col-md-12 text-center">
  <h2>Books</h2>
     <p></p>
    <p></p>
     <p></p>
     <p></p>
    <p></p>
     <p></p>
</div>
  {% for book in book_list%}
<div class="container">
        <div class="row">

              <div class="col-lg-5 col-md-12 row align-items-start">
                  <img src="{{ book.picture.url }}" alt="can't load image" width="160"  height="170" class="img-responsive img-circle mt mb">
              </div>
            <div class="col-lg-7 col-md-12 row align-items-start">
                  <a  href="{% url 'library:BookDetail' book.Author.pk %}" >       {{ book.name}}    </a>
                 <pre>        </pre>
                <!-- Example single danger button -->
               </br>
               
        </div>
            <pre>


            </pre>



</div>
</div>
  {% endfor %}
{% endblock %}

