{% extends 'general_view/base.html' %}
{% load static %}

{% block st %}
<style>
.star {
    width:96px;
    height: 96px;

     background:url('{%static "Appimages/hit.png" %}' );
       float:left;
}

.on {

      width:96px;
      height: 96px;
     background:url('{%static "Appimages/yellow.png" %}');
}

.rated &gt; .rating {

      width:96px;
      height: 96px;
  background:url('{%static "Appimages/yellow.png" %}');
}
</style>

{% endblock %}
{% block content %}
  <h2>Books</h2>
      <p>Name: {{book.name}}</p>
      <p>Author: </p><a href="{% url 'library:AuthorDetail' book.Author.pk %}">{{ book.Author}}</a>
      <p>category: </p>
      {% for category in categoryBooks %}
        <a href="{% url 'library:CategoryDetail' category.pk%}">{{ category.name}}</a>
      {% endfor %}

      <p>Country: {{book.country}}</p>
      <p>link: </p><a href="{{book.link}}">{{book.link}}</a>
      <p>Summary: {{book.summary}}</p>
      <p>published at: {{book.published_at}}</p>
      <img src="{{ book.picture.url }}" alt="can't load image" width="160" class="img-responsive img-circle mt mb"></br>
      
      {% if user.is_authenticated and  book.book_id in isFav %}
       <img src="{%static "Appimages/RedHeart.png" %}" width="5%" height="5%" id="makeFav" name="1" />
        {% else %}
       <img src="{%static "Appimages/Empty-Heart.png" %}" width="5%" height="5%" id="makeFav" name="2" />
        {% endif %}
         <img src="{%static "Appimages/read.png" %}" width="5%" height="5%" id="read" name="1"/>
        <div >
        {% if user.is_authenticated and rateValue %}
          {% for i in rateValue %}
          <div class="star on rating"></div>
          {% endfor %}
           {% for i in non %}
          <div class="star"></div>
          {% endfor %}
         {% endif %}
        </div>

<!--
<div class="star"></div> -->
      <input type="hidden" id="book" value={{book}}>
      <input type="hidden" id="fav" value="{{isFav}}">
      <input type="hidden" id="isUser" value="{{isUser}}">


{% endblock %}
{% block js-foot %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="{%static "book.js" %}"></script>
<script src="{%static "js/jquery-1.4.2.min.js" %}"></script>

{% endblock %}
