{% extends 'general_view/base.html' %}
{% block content %}
{% load static %}
  <h2>category</h2>
      <p>Name: {{category.name}}</p>
      <strong>Books: </strong>
      {% for book in categoryBooks %}
        <a href="{% url 'library:BookDetail' book.pk%}">{{ book.name}}</a>
      {% endfor %}
       <img src="{%static "Appimages/Empty-Heart.png" %}" width="5%" height="5%" id="FavCat" name="1" />
       <input type="hidden" id="category" value={{category.category_id}}>
{% endblock %}
{% block js-foot %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="{%static "js/category.js" %}"></script>
<script src="{%static "js/jquery-1.4.2.min.js" %}"></script>

{% endblock %}
