{% extends 'general_view/base.html' %}

{% block content %}
  <h2>categories</h2>
  {% for category in categories %}
      <a href="{%url 'library:CategoryDetail' category.pk%}">{{ category.name}}</a></br>
  {% endfor%}
  <a href="{% url 'library:CategoryList' %}">See More</a>

  <h2>Authors</h2>
  {% for author in authors%}
      <a href="{% url 'library:AuthorDetail' author.pk %}">{{ author.name}}</a>
      <img src="{{ author.picture.url }}" alt="can't load image" width="160" class="img-responsive img-circle mt mb">
  {% endfor %}
  <a href="{% url 'library:AuthorList' %}">See More</a>

  <h2>Recently added books</h2>
  {% for book in books%}
      <a href="{% url 'library:BookDetail' book.pk %}">{{ book.name}}</a>
      <img src="{{ book.picture.url }}" alt="can't load image" width="160" class="img-responsive img-circle mt mb">
  {% endfor %}
  <a href="{% url 'library:BookList' %}">See More</a>

{% endblock %}
