{% extends 'general_view/base.html' %}

{% block content %}
  <center><h2>Authors</h2></center>
<br><br><br><br>

  {% for author in authors%}
    <a href="{% url 'library:AuthorDetail' author.pk %}">
        <img style=float-left; src="{{ author.picture.url }}" alt="can't load image" width="120">
    </a>
&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
            &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
      {% empty %}
     <center> <p>No authors with this name</p></center>
  {% endfor %}

<br><br><br><br>

  <center><h2>Books</h2></center>
<br><br><br><br>
  {% for book in books%}
    <a href="{% url 'library:BookDetail' book.pk %}">
        <img style=float-left; src="{{ book.picture.url }}" alt="can't load image" width="120">
    </a>
&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
            &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
    {% empty %}
<center><p>No books with this name</p></center>
  {% endfor %}
 

{% endblock %}